
/* 提供全局公共样式 */
.radius {
  border-radius: 6px;
}

.shadow-warp {
  position: relative;
  box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.1);
}
.shadow-warp:before,
.shadow-warp:after {
  position: absolute;
  content: "";
  top: 20rpx;
  bottom: 30rpx;
  left: 20rpx;
  width: 50%;
  box-shadow: 0 30rpx 20rpx rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg);
  z-index: -1;
}
.shadow-warp:after {
  right: 20rpx;
  left: auto;
  transform: rotate(3deg);
}

.bg-white {
  background-color: white;
  color: #666666;
}

.margin-top {
  margin-top: 30rpx;
}
.margin-top-lg {
  margin-top: 40rpx;
}
.margin-top-xl {
  margin-top: 50rpx;
}

.cu-form-group {
  background-color: #fff;
  padding: 1px 30px;
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: space-between;
}
.cu-form-group+.cu-form-group {
  border-top: 1px solid #eee;
}
.cu-form-group .title {
  text-align: justify;
  padding-right: 30px;
  font-size: 30px;
  position: relative;
  height: 60px;
  line-height: 60px;
}
.cu-form-group input {
  flex: 1;
  font-size: 30px;
  color: #555;
  padding-right: 20px;
}

.margin-tb-sm {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.text-center {
  text-align: center;
}

.bg-gradual-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
  color: #fff;
}

.cu-btn {
  position: relative;
  border: 0rpx;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 30rpx;
  font-size: 28rpx;
  height: 64rpx;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  margin-left: initial;
  transform: translate(0rpx, 0rpx);
  margin-right: initial;
}

.cu-btn::after {
  display: none;
}