// 数据概览
.block-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-title .title {
    background-color: #1cbbb4;
    color: white;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 28px;
}

.bg-gradual-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
  color: #fff;  
}

.avatar {
  position: fixed;
  bottom: 3%;
  right: 5%;
  width: 100px;
  height: 100px;
}